---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { unified } from 'unified'
import remarkParse from 'remark-parse'
import remarkGfm from 'remark-gfm'
import remarkRehype from 'remark-rehype'
import rehypeStringify from 'rehype-stringify'
import SSGForm from '../components/SSGForm.astro'
import Container from '@components/Container.astro'

const posts = (await getCollection('blog')).filter((post) => !post.data.draft)

const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

const latestPostEntry = sortedPosts[0]
const latestPostLink = latestPostEntry ? `/${latestPostEntry.collection}/${latestPostEntry.id}` : null
const latestPost = latestPostEntry?.body
	? String(
			await unified()
				.use(remarkParse)
				.use(remarkGfm)
				.use(remarkRehype)
				.use(rehypeStringify)
				.process(latestPostEntry.body)
		)
	: ''


---

<Layout title='Magia Laboratory', description='ゲーム攻略、百合作品などのサイト。'>
	<Container>

	<div class='container mx-auto text-center text-xl font-bold'>
		ゲーム攻略、百合作品などのサイト。
	</div>
	<div
		class='container flex flex-col md:flex-row flex-auto mx-auto [&_a]:block [&>div]:w-full [&>div]:flex-auto [&>div]:flex-col [&>div]:text-center [&>div>a]:text-4xl [&>div>p]:text-4xl [&>div>*]:font-medium [&>div>*]:tracking-wide [&>div>*]:m-4 [&>div>a]:underline [&>div>div]:flex [&>div>div]:flex-col [&>div>div]:gap-2'
	>
		<div>
			<a href='/game'>Game</a>
			<div>
				<a href='/game/guide' class='btn-game'> PlayGuide</a>
				<a href='/game/playdiary' class='btn-game'> PlayDiary</a>
				<a href='/game/talk' class='btn-game'> TalkRoom</a>
				<a
					href='https://www.notion.so/furamon913/cd55e04977734af082130ce34477dc31?v=5d7d04f5d1e84bc4ab45625fddd98475&pvs=4'
					class='btn-game'
				>
					GameList</a
				>
			</div>
		</div>
		<div>
			<a href='/creation'>Creation</a>
			<div>
				<a href='/creation/dearclaudias' class='btn-game'>Dear Claudias</a>
				<a href='/creation/lightningrubellum' class='btn-game'>Lightning Rubellum</a>
			</div>
			<a href='/lily'>Lily</a>
			<div>
			</div>
		</div>
		<div>
			<p>etc.</p>
			<div>
				<a href='/text/infomation' class='btn-game'> Infomation</a>
				<a href='/text' class='btn-game'> Text</a>
				<a href='/blog' class='btn-game'> Diary</a>
				<a href='https://bbs.magialabs.blog/' class='btn-game'> BBS</a>
				<a href='https://claudias.magialabs.blog/' class='btn-game'> Mastodon Server</a>
			</div>
			<p>Some Links</p>
			<div>
				<a href='https://www.pixiv.net/users/74381242' class='btn-game'> Pixiv</a>
				<a href='https://m.youtube.com/channel/UCmoakOUjAai3AW1d2Ip_wxg' class='btn-game'>
					YouTube</a
				>
				<a href='https://github.com/Furamon' class='btn-game'> Github</a>
				<a href='https://twitter.com/FuramonMagia' class='btn-game'> X（Twitter）</a>
			</div>
		</div>
	</div>

	<div class='container mx-auto text-center'>
		<h2 class='text-3xl font-bold mb-4'>最終更新</h2>
		<h3 class='text-2xl font-bold'>
			{
				latestPostEntry && latestPostLink && (
					<a href={latestPostLink}>{latestPostEntry.data.title}</a>
				)
			}
		</h3>
	</div>

	<div class='text-xl leading-loose' set:html={latestPost} />

	<SSGForm />
	</Container>
</Layout>
<style>
	@reference "src/styles/global.css";
</style>
